[SddmGreeterTheme]
Name=sddm
Description=sddm-aconfig-theme
Author=Arun
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/sddm/sddm
Screenshot=Backgrounds/mountain.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=sddm-aconfig-theme
Theme-API=2.0
QtVersion=6
